<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <form>
          <ion-item>
              <ion-input placeholder="Name" [(ngModel)]="Name"></ion-input>
          </ion-item>
          
          <ion-item>
              <ion-input placeholder="surname" [(ngModel)]="Surname"></ion-input>
          </ion-item>
    
      </form>
      
      <ion-item>
          <ion-button shape="round" block >Submit</ion-button>
        </ion-item>
      
        <ion-item>
            <ion-button shape="round"ng-click="resetForm()">Clear</ion-button>
        </ion-item>
      
    </ion-card>
